<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
	<div class="span8">
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>
<% else %>

<div align="center">

<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Welcome! </strong> Friend Have a nice day...
</div>
</div><br>
<div id="myCarousel" class="carousel slide" >
	
	<!-- Carousel items -->
	<div class="carousel-inner" >
		<div class="active item"  >
			<%=image_tag("1.jpg", alt: "sam",class: "img1")%>
		</div>
		<div class="item">
			<%=image_tag("2.jpg", alt: "sam",class: "img1")%>
		</div>
		<div class="item">
			<%=image_tag("3.jpg", alt: "sam",class: "img1")%>
		</div>
			<div class="item">
			<%=image_tag("4.jpg", alt: "sam",class: "img1")%>
		</div>
			<div class="item">
			<%=image_tag("5.jpg", alt: "sam",class: "img1")%>
		</div>
			<div class="item">
			<%=image_tag("6.jpg", alt: "sam",class: "img1")%>
		</div>
	</div>

	<!-- Carousel nav -->
	<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

</div>
<script type="text/javascript">
	$('.carousel').carousel({
  interval: 2000

})

setTimeout(function () {
  $('.alert').alert('close')
	}, 5000)

</script>
<% end %>
