ul class="thumbnails" align="center">
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g1.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g2.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g3.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g4.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g5.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g6.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
  <li class="span6">
    <div class="thumbnail" align="center">
      <%= link_to image_tag("g7.jpg")%>
      <h5>Freinds</h5>
    </div>
  </li>
</ul>
